<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<img class="heading" src="../../assets/logo2.PNG"/>

<div class="status-bar"></div>

<div class="mainGame">
    <h1 id="playerHeading">
        PLAYER
    </h1>
    <table id="player" class="battleGrid">
    </table>
    <div class="ships" id="board_plane">
        <button class="button button-royal button-rounded" id="is_vertical" data-toggled="false">Mode: Horizontal</button>
        <button class="button button-3d button-caution" id="sonar_pulse" data-toggled="false"><i class="fas fa-broadcast-tower"></i>&nbsp;Sonar: Off</button>
        <table class="ship" id="place_minesweeper" data-sunk="false" data-selected="false" data-placed="false">
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        <table class="ship" id="place_destroyer" data-sunk="false" data-selected="false" data-placed="false">
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <table class="ship" id="place_battleship" data-sunk="false" data-selected="false" data-placed="false">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>



        <table class="ship" id="place_submarine" data-sunk="false" data-selected="false" data-placed="false">
            <tr>
                <td class="invisible"></td>
                <td class="invisible"></td>
                <td></td>
                <td class="invisible"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
          <div>
            <button class="button button-primary button-box button-small"><i class="fa fa-chevron-up"></i></button>
        </div>
        <div>
            <button class="button button-primary button-box button-small"><i class="fa fa-chevron-left"></i></button>
            <button class="empty_space"></button>
            <button class="button button-primary button-box button-small"><i class="fa fa-chevron-right"></i></button>
        </div>
        <div>
            <button class="button button-primary button-box button-small"><i class="fa fa-chevron-down"></i></button>
        </div>

    </div>

    <div class="barrier">
    </div>

    <div class="ships" id="board_plane">
        <!-- Fake Button -->
        <div id="alignment"></div>
        <br>
        <br>
        <table class="ship " id="opponent_minesweeper" data-sunk="false" data-placed="false">
            <tr>
                <td class="disabled"></td>
                <td class="disabled"></td>
            </tr>
        </table>
        <table class="ship" id="opponent_destroyer" data-sunk="false" data-placed="false">
            <tr>
                <td class="disabled"></td>
                <td class="disabled"></td>
                <td class="disabled"></td>
            </tr>
        </table>
        <table class="ship" id="opponent_battleship" data-sunk="false" data-placed="false">
            <tr>
                <td class="disabled"></td>
                <td class="disabled"></td>
                <td class="disabled"></td>
                <td class="disabled"></td>
            </tr>
        </table>
        <table class="ship" id="opponent_submarine" data-sunk="false" data-placed="false">
            <tr>
                <td class="disabled invisible"></td>
                <td class="disabled invisible"></td>
                <td class="disabled"></td>
                <td class="disabled invisible"></td>
            </tr>
            <tr>
                <td class="disabled"></td>
                <td class="disabled"></td>
                <td class="disabled"></td>
                <td class="disabled"></td>
            </tr>
        </table>
        <div>
            <button class="empty_holder"></button>
        </div>

    </div>
    <table id="opponent" class="battleGrid">
    </table>
    <h1 id="opponentHeading">
        OPPONENT
    </h1>
</div>

<div class="bottom-status">
    <div class="player-result">
    </div>
    <button id="reset" class="button" data-toggled="false">Reset</button>
    <div class="opponent-result">
    </div>
</div>
<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>