<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<img class="heading" src="../../assets/logo2.PNG"/>

<div class="status-bar"></div>

<div class="mainGame">
    <h1 id="playerHeading">
        PLAYER
    </h1>
    <table id="player" class="battleGrid">
    </table>
    <div class="ships" id="board_plane">
        <button class="button button-royal button-rounded" id="is_vertical" data-toggled="false">Mode: Horizontal</button>
        <table class="ship" id="place_minesweeper" data-selected="false" data-placed="false">
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        <table class="ship" id="place_destroyer" data-selected="false" data-placed="false">
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <table class="ship" id="place_battleship" data-selected="false" data-placed="false">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="barrier">
    </div>

    <div class="ships" id="board_plane">
        <!-- Fake Button -->
        <div id="alignment"></div>
        <table class="ship disabled" id="opponent_minesweeper" data-placed="false">
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        <table class="ship disabled" id="opponent_destroyer" data-placed="false">
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <table class="ship disabled" id="opponent_battleship" data-placed="false">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <table id="opponent" class="battleGrid">
    </table>
    <h1 id="opponentHeading">
        OPPONENT
    </h1>
</div>

<div class="bottom-status">
    <div class="player-result">
    </div>

    <div class="opponent-result">
    </div>

</div>
<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>